@{
    ViewData["Title"] = "Inicio de sesión";
    string mensajeExito = TempData["MensajeExito"] as string;
}

<h1>@ViewData["Title"]</h1>

@if(!string.IsNullOrEmpty(mensajeExito))
{
    <div class="alert alert-success" role="alert">
        @mensajeExito
    </div> 
}

<div class="row">
    <div class="col-md-6">
        <form asp-controller="Usuario" asp-action="InicioSesion" method="post">
            <div class="form-group">
                <label for="nombreUsuario">Nombre de usuario:</label>
                <input type="text" class="form-control" id="nombreUsuario" name="nombreUsuario" required>
            </div>
            <div class="form-group">
                <label for="contraseña">Contraseña:</label>
                <input type="password" class="form-control" id="contraseña" name="contraseña" required>
            </div>
            <button type="submit" class="btn btn-primary">Iniciar sesión</button>
        </form>
    </div>
</div>

@* @{
    ViewData["Title"] = "Inicio de Sesion";
}
<h1>@ViewData["Title"]</h1>

<form action="/Usuario/InicioSesion" method="post">
    <div>
        <label for="NombreUsuario">Nombre de usuario:</label>
        <input type="text" id="NombreUsuario" name="NombreUsuario" />
    </div>
    <div>
        <label for="Contraseña">Contraseña:</label>
        <input type="password" id="Contraseña" name="Contraseña" />
    </div>
    <button type="submit">Iniciar</button>
</form> *@